[color]
	ui = auto
[hub]
	host = github.roving.com
[user]
	email = bweeks@constantcontact.com
	name = Ben Weeks
[core]
	excludesfile = /Users/benweeks/.gitignore
    ignorecase = False
    editor = /usr/bin/vim
[rerere]
	enabled = true
[push]
	default = simple
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true

[alias]
    gl = log -100 --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
    co = checkout
    cm = commit -m
    rv = remote -v
    pom = pull origin master
    pmm = pull mine master
    diff = diff --color-words
    s  = status
    aa = add -A
